/* Umumiy stil */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: hsl(122, 92%, 66%);
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header */
header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77d 3px solid;
}

header h1 {
    text-align: center;
    margin: 0;
    font-size: 36px;
}

header p {
    text-align: center;
    font-size: 18px;
}

/* Navigatsiya */
nav {
    background: #444;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

/* Bo'limlar */
section {
    padding: 20px 0;
}

section h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

section p, section ul {
    font-size: 18px;
    line-height: 1.8;
}

section ul {
    list-style-type: square;
    padding-left: 40px;
}

/* Jamoa */
.team-members {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.member {
    background: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 30%;
}

.member h3 {
    margin: 0;
    font-size: 24px;
}

.member p {
    font-size: 16px;
    color: #777;
}

/* Aloqa formasi */
form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #555;
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
}